name: Coverage Report
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    paths:
      - "**.ts"
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install Frontend dependencies
        run: |
          cd frontend
          bun install

      - name: Install Backend dependencies
        run: |
          cd backend
          bun install

      - name: Run Frontend lint
        run: |
          cd frontend
          bun run lint
    
      - name: Run Backend lint
        run: |
          cd backend
          bun run lint
      
      - name: Run Frontend test
        run: |
          cd frontend
          bun run test

      - name: Run Backend test
        run: |
          cd backend
          bun run test